<h1>Word Game</h1>


<h2>{{randomWord}}</h2>
<h2>{{letterSpaces}}</h2>
<hr>
{{#each errors}}
<h3>{{msg}}</h3>
{{/each}}

<h2>{{attempt}}</h2>



<form class="" action="/guessed" method="post">
  <h4>{{userWarning}}</h4>
  <input type="text" name="letter" value="">
  <br>
  <input type="submit" name="" value="Make Guess">
</form>

<h2>Guessed Letters</h2>
<h3>{{guessedLetters}}</h3>
<hr>
<h2>Guesses Remaining</h2>
<h3>{{guessesLeft}}</h3>

<a href="/newGame">Get New Word</a>             <!-- style to make look like button -->
